:root {
  --canvasWidthVw: 100%;
  --canvasHeightVh: 85vh;
}

.statesContainer {
  position: relative;
  width: 100%;
  border: solid rgb(200, 200, 200) 1px;
}

.titleStyle {
  font-size: 40px;
  margin: 20px 0 0 20px;
}

.canvasStyle {
  display: flex;
  position: relative;
  width: var(--canvasWidthVw);
  height: var(--canvasHeightVh);
  background: white;
  color: black;
}

.toolboxMenu {
  width: 100px;
  background: rgba(148, 148, 148, 0.15);
  text-align: center;
  border: solid rgb(200, 200, 200) 1px;
  border-right: none;
}

.toolboxTitle {
  font-size: 20px;
  height: 50px;
}
.toolboxContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100% - 68px);
}
.state {
  border: 1px #999 solid;
  border-radius: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
